.intro-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 17px;
  box-sizing: border-box;
  padding: 13px 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  outline: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.intro-form__input:last-of-type {
  margin-bottom: 216px;
}

.intro-form__input::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}

@media screen and (max-width: 768px) {
  .intro-form__input:last-of-type {
    margin-bottom: 173px;
  }
}