.profile__avatar-mask {
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all .3s ease-in-out;
  background-image: url(../../../images/edit.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__avatar-mask:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}