.header__bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header__bar {
    padding: 0 10px;
    border-top: 1px solid rgba(84, 84, 84, .7);
    padding: 0 30px;
  }
}