.footer {
  width: 100%;
  margin: 0 auto 60px auto;
  display: flex;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: calc(320px - 38px);
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 36px;
  }  
}