.intro-form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 38px;
}

@media screen and (max-width: 768px) {
  .intro-form__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 24px;
  }
}