.element__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash.svg);
  border: none;
  opacity: 1;
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition: all .3s ease-in-out;
}

.element__trash:hover {
  cursor: pointer;
  opacity: .6;
}